---
layout: default
---

<h4>IOP Blog</h4>

<div id='posts'>
	<ul>
    {% for post in site.posts %}
      <li class='post'>
				{% if post.image %}
					<a href='{{post.url}}'><img class='post-image' src="{{post.image}}" /></a>
				{% endif %}
				<div class="postcontent">
  		    <a href='{{post.url | prepend: site.baseurl }}'><h1 class='post-title'>{{post.title}}</h1></a>
  				<div class='post-date'>{{ post.date | date: "%B %d, %Y"}}</div>
  				<div class='post-content'>{{post.summary}}</div>
				</div>
  		</li>
    {% endfor %}

  <p>subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>