---
layout: page
title: IoP Blog
permalink: /blog/
---

<section id="organize" class="organize bg-organize">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>{{ page.title }}</h2>
        <hr class="small">
        <div id='posts'>
	        <ul>
            {% for post in site.posts %}
              <li class='post'>
      				{% if post.image %}
      					<a href='{{post.url}}'><img class='post-image' src="{{base.url}}/{{post.image}}" /></a>
      				{% endif %}
      				<div class="postcontent">
      				  <div class="postBoxTop"
          		    <h1 class='post-title'><a href="{{post.url | prepend: site.url }}">{{post.title}}</a></h1>
          				<div class='post-date'>{{ post.date | date: "%B %d, %Y"}}</div>
        				</div>
        				<div class='post-content'>
        				  {% for category in post.categories %}
        				  {{ category }}&nbsp;&nbsp;
        				  {% endfor %}
        				  </div>
        			</div>
          	</li>
            {% endfor %}
          </ul>
      </div> <!-- /.posts -->
    </div> <!-- /.col-lg-10 -->
    </div> <!-- /.row -->
    <p>subscribe <a href="{{ "/feed.xml" | prepend: site.url }}">via RSS</a></p>
  </div> <!-- /.container -->
</section>